<ul class="listing">
	{% for item in include.listings %}
		{% if item.deprecated == 0 %}
		<li {% if item.url == page.url %}class="active"{% endif %}>
			<a href="{{ site.baseurl }}{{ item.url }}">
				<div class="icon">{% include document-icon.html icon=item.type %}</div>
				<article>
					<div>
						<h3>{% if include.numbered %}{{ forloop.index }}. {% endif %}{{ item.title }}</h3>
						<p class="description">{{ item.description }}</p>
					</div>
				</article>
			</a>
		</li>
		{% else if item.deprecated == 1 %}
		<li {% if item.url == page.url %}class="active"{% endif %} class = "text-deprecated">
			<a href="{{ site.baseurl }}{{ item.url }}" class = "text-deprecated">
				<div class="icon text-deprecated">{% include document-icon.html icon=item.type %}</div>
				<article>
					<div>
						<h3 class = "text-deprecated">{% if include.numbered %}{{ forloop.index }}. {% endif %}{{ item.title }}</h3>
						<p class="text-deprecated description">This error has been deprecated.</p>
					</div>
				</article>
			</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>